@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
--strong-cyan: hsl(172, 67%, 45%);
--very-dark-cyan: hsl(183, 100%, 15%);
--dark-grayish-cyan: hsl(186, 14%, 43%);
--dark-grayish-cyan-2: hsl(184, 14%, 56%);
--light-grayish-cyan: hsl(185, 41%, 84%);
--light-grayish-cyan-2: hsl(189, 41%, 97%);
--white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    font-family: 'Space Mono', sans-serif;
    background-color: var(--light-grayish-cyan);
}
header {
    padding: 3rem 0 2rem 0;
    text-align: center;
    height: 140px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 140px);
    border-radius: 20px 20px 0 0;
    background-color: var(--white);
    padding: 1.5rem;
}

input[type=number] {
    text-align: right;
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    color: var(--very-dark-cyan);
    background-color: var(--light-grayish-cyan);
}

input[type=number]:focus {
    outline: 2px solid var(--strong-cyan);
}

#bill {
    width: 100%;
    background-image: url(images/icon-dollar.svg);
    background-size: 1rem;
    background-position: 12px 12px;
    background-repeat: no-repeat;
}
#people {
    width: 100%;
    background-image: url(images/icon-person.svg);
    background-size: 1rem;
    background-position: 12px 15px;
    background-repeat: no-repeat;
}

.result {
    background-color: var(--very-dark-cyan);
    border-radius: 15px;
    padding: 1rem;
}
footer {
    margin-top: 1rem;
    font-size: 11px;
    text-align: center;
}
footer a {
    
    color: var(--strong-cyan);
}

.column {
    width: 48.80%;
    margin: 0.375rem 0;
    display: inline-block;
    min-height: max-content;
}

/* Butons */
button {
    background-color: var(--very-dark-cyan);
    border-style: none;
    border-radius: 5px;
    padding: 0.75rem;
    color: var(--white);
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.button-active {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);  
}

#resetBtn {
    background-color: var(--strong-cyan);
    width: 100%;
    color: var(--very-dark-cyan);
}

#resetBtn:hover {
    background-color: hsl(172, 67%, 75%);
}

/* Font Definitins */
h1 {
    text-align: right;
    color: var(--strong-cyan);
    font-size: 32px;
    padding-bottom: 0.25rem;
}
h2 {
    font-size: 16px;
    color: var(--white);
}
h3 {
    font-size: 14px;
    color: var(--dark-grayish-cyan-2);
}
p {
    color: var(--dark-grayish-cyan);
    font-weight: 700;
}


/* Desktop Media Query */
@media (min-width: 1400px) {

}